useDynLib(qmd, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "ecdf")
importFrom("stats", "runif")
importFrom("Rcpp", "evalCpp")
importFrom("utils", "combn", "head")
importFrom("cowplot", "plot_grid")
importFrom("stats", "na.omit")
importFrom("dplyr", "summarise", "group_by", "select", "across", "all_of")
import("ggplot2")
